.projects-section {
    background-color: rgb(203, 255, 240);
    border-right: thin solid turquoise;
    flex: 1;
    display: flex;
    flex-direction: column;
}


/* username */
.username {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

h2 {
    font-size: 22px;
    margin: 0;
}

.username:hover button:hover {
    background-color: rgb(195, 245, 231);
}


/* projects tab */
.projects-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.create-todo,
.create-project,
.rename,
.delete-project,
.delete-todo {
    font-size: 18px;
}

.rename,
.create-project,
.create-todo {
    background-color: inherit;
    color: darkcyan;
}

.project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(195, 245, 231);
    border-radius: 6px;
}

.buttons-container {
    display: flex;
    gap: 4px;
}

.create-project,
.create-todo,
.delete-project,
.delete-todo {
    cursor: pointer;
    border: none;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    border-radius: 4px;
}

.project-name {
    padding: 5px 0;
    cursor: pointer;
}

.create-todo,
.delete-project,
.delete-todo {
    display: none;
}

.project:hover .create-todo,
.project:hover .delete-project,
.delete-todo {
    display: initial;
}

.project:hover .create-todo:hover {
    background-color: rgb(188, 233, 221);
}

.delete-project:hover,
.delete-todo:hover {
    background-color: rgb(255, 83, 83);
}