:root {
  /* #ABC270, #FEC868, #FDA769, #473C33, #ffeccb */
  /* #2D2424, #5C3D2E, #C68B59, #D8A87A, #B85C38, #FDE7BB */

  --bg: #ffeccb;
  --coffee: #ffd181;
  --copper: #b17457;
  --brown: #5c3d2e;
  --text: #2d2424;

  --hover-brown: #5c3d2eee;
  --active-brown: #5c3d2edd;

  --red: #fa4032;
  --hover-red: #f95544;
  --click-red: #ff7369;
}

body {
  background-color: var(--text);
  color: var(--text);
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 4px;
}

.projects-container,
.todos-container,
.project,
.todo {
  padding: 10px;
}

.container {
  display: flex;
  flex: 1;
  gap: 4px;
}

h1 {
  font-size: 32px;
  text-align: center;
  margin: 4px;
  text-transform: uppercase;
}

header {
  background-color: var(--copper);
  color: var(--bg);
  border-radius: 4px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
}
