.todos-container {
    background-color: rgb(231, 255, 253);
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
}

.todo {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}

.title-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.toggle,
.delete,
.add {
    cursor: pointer;
    border: none;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    border-radius: 4px;
}

.toggle {
    background-color: white;
    color: darkcyan;
}

.checked {
    text-decoration: line-through;
}

.unchecked {
    text-decoration: none;
}

.delete {
    background-color: rgb(255, 37, 37);
    color: white;
}

.delete:hover {
    background-color: rgb(255, 83, 83);
}