.projects-section {
    background-color: var(--coffee);
    /* border-right: 3px solid; */
    flex: 1;
    display: flex;
    flex-direction: column;
}


/* username */
.username {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.username .add-project,
.username .rename {
    width: 1.2rem;
    height: 1.2rem;
    padding: 12px;
    display: flex;
}

h2 {
    font-size: 22px;
    margin: 0;
}

.username:hover button:hover {
    background-color: #00000010;
}


/* projects tab */
.projects-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.project {
    background-color: #0000000c;
    display: flex;
    justify-content: space-between;
    gap: 8px;
    align-items: center;
    border-radius: 6px;
    padding: 12px;
}

.buttons-container {
    display: flex;
    gap: 2px;
}

.project-name,
.project,
.todo {
    cursor: pointer;
}

.project:hover,
.todo:hover {
    background-color: #00000015;
}

.project:active,
.todo:active {
    background-color: #00000020;
}

.add-todo,
.add-project,
.rename,
.delete-project,
.delete-todo {
    font-size: 18px;
}

.rename,
.add-project,
.add-todo,
.delete-project,
.delete-todo {
    background-color: inherit;
    color: var(--chocolate);
    outline: none;
}

.toggle,
.delete-todo,
.rename,
.add-todo,
.add-project,
.delete-project {
    cursor: pointer;
    border: none;
    text-align: center;
    border-radius: 4px;
}

.add-todo,
.delete-project,
.delete-todo {
    /* display: none; */
    visibility: hidden;
}

.toggle {
    width: 1.2rem;
    height: 1.2rem;
    font-size: 17px;
    color: var(--text);
}

.project:hover .add-todo,
.project:hover .delete-project,
.delete-todo {
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project:hover .add-todo:hover,
.project:hover .delete-project:hover {
    background-color: #00000010;
}

.project:hover .add-todo:active,
.project:hover .delete-project:active,
.username:hover .add-project:active,
.username:hover .rename:active {
    background-color: #00000020;
}