/* #FA4032, #FAB12F, #A1DD70 */

.todos-container {
    background-color: var(--bg);
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
}

.todo {
    background-color: #0000000c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border-radius: 6px;

    border-left: 6px solid;
    /* border-color: #FAB12F; */
}

.title-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.todo .buttons-container {
    gap: 10px;
}

.due-date {
    display: flex;
    align-items: center;
    justify-content: center;
}


.toggle {
    background-color: white;
    color: var(--chocolate);
}

.checked {
    text-decoration: line-through;
}

.unchecked {
    text-decoration: none;
}

/* .toggle,
.delete-todo,
.rename,
.add-todo,
.add-project,
.delete-project {
    cursor: pointer;
    border: none;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    border-radius: 4px;
} */

/* .delete-project, */
.delete-todo {
    background-color: var(--red);
    color: white;
}



/* .delete-project:hover, */
.delete-todo:hover {
    background-color: var(--hover-red);
}

/* .delete-project:active, */
.delete-todo:active {
    background-color: var(--click-red);
}